.klients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.klients-title {
    margin-bottom: 50px;
}

.klients__list {
    display: flex;

}

.klients__link {
    display: flex;
    width: 170px;
    height: 92px;
    justify-content: center;
    align-items: center;
    box-sizing: inherit;
    border: 1px solid var(--klients-color);
    border-radius: 4px;
    fill: var(--klients-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border-color: var(--accent-color);
        fill: var(--accent-color);
    }
}

.klients-item:not(:last-child) {
    margin-right: 30px;
}

