.steam {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--end-bg-color);
}

.team-title {
    margin-bottom: 50px;
}

.team {
    display: flex;
    background-color: var(--end-bg-color);
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team__item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 428px;
}

.team-list {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__member {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-member {
    margin-bottom: 10px;
}

.team__position {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.team-position {
    margin-bottom: 16px;
}

.team__soc-list {
    display: flex;
    justify-content: center;
}

.team-soc-item {
    margin-right: 10px;
    margin-bottom: 30px;
}

.team-soc-item:last-child {
    margin: 0px;
}

.team__soc-icon {
    fill: currentColor;
    .team__soc-link:hover &,
    .team__soc-link:focus & {
            fill: #FFFFFF;
        }
}

.team__soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    color: var(--klients-color);
    align-items: center;
    justify-content: center;
    /*background-color: var(--primary-white-color);*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        color: var(--primary-white-color);
    }
}



