:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --secondary-white-color: color: rgba(255, 255, 255, 0.6);
    --medium-bg-color: #E5E5E5;
    --end-bg-color: #F5F4FA;
    --footer-bg-color: #2F303A;
    --header-border-color: #ECECEC;
    --portfolio-border-color: #EEEEEE;
    --hero-bg-color: #C4C4C4;
    --klients-color: #AFB1B8;
    --btn-bg-hover-color: ;
    --bg-color-icon: rgba(255, 255, 255, .1);
    --bg-overlay-color: rgba(33, 150, 243, 0.9);

}